.p-mypage {
    height: 90vh;
    display: flex;
    justify-content: center;
    &__container {
        height: 250px;
        // margin-top: 200px;
        width: 700px;
        margin: 0 auto;
    }
    &__btn-container {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    &__btn {
        width: 150px;
        padding: 20px 0;
    }
}

