// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #333;
$gray: #666666;
$green: #1bd34f;
$darkgreen:rgb(0, 169, 20);
$blue: rgb(75, 28, 176);
$orange:#eb6100;

