// 基本設定
*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Noto Sans JP";
    font-size: 16px;
    color: $black;
    line-height: 1;
    background-color: $green;
}
img{
    max-width: 100%;
}

// ボタンコンポーネント
.c-button {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      text-decoration: none;
      color: #333333;
      font-size: 18px;
      border-radius: 5px;
      width: 100px;
      height: 40px;
      border: 1px solid #333333;
      position: relative;
      transition: 0.3s;
      background-color: #fff;
    &--blue {
        background-color: $blue;
    }
    &:hover {
        color: #fff;
        background: #333333;
    }
    &--bigger {
        
    }
}