/*  ゲーム風フォントの設定  */
@font-face {
    font-family: PixelMplus12 Regular;
  src: url(/fonts/PixelMplus12-Regular.ttf);
    /*   適用させるフォント名 → 間違っていると反映されないので注意  */
    /* font-family: "Nu \304D\306A\3053\3082\3061"; */
    /*   .otf, .ttfの拡張子がついているファイルがフォントファイルである。   */
    /*   フォントファイルが何処場所にあるのか : パスを書いてあげる   */
    /* src: url(/fonts/NuKinakoMochi-Reg.otf); */
  }
// @font-face {
//     /*   適用させるフォント名 → 間違っていると反映されないので注意  */
//     font-family: "Nu きなこもち";
//     /*   .otf, .ttfの拡張子がついているファイルがフォントファイルである。   */
//     /*   フォントファイルが何処場所にあるのか : パスを書いてあげる   */
//     src: url(/fonts/NuKinakoMochi-Reg.otf);
// }

body {
    font-family: "PixelMplus12 Regular";
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

.c-full {
    position: relative;
    width: 100%;
    min-height: 90vh;
    background: url("/images/8bit.jpg") top center / cover;
}

.c-nav {
    &__container {
        height: 100px;
        background-color: $skyblue;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        a {
            color: $black;
            text-decoration: none;
        }
        h1 {
            font-size: 45px;
            margin: 15px 0 0 15px;
        }
    }
    &__ul {
        display: flex;
        margin-right: 50px;
        padding-top: 10px;
    }
    &__list {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 2px solid $black;
        height: 1.3em;
        &:first-child {
            border-left: 2px solid $black;
            padding-left: 10px;
        }
    }
    &__container {
        display: flex;
    }
    .level {
        margin-left: 10px;
    }
}

