.p-mypage {
    height: 90vh;
    display: flex;
    justify-content: center;
    &__container {
        height: 250px;
        // margin-top: 200px;
        width: 550px;
        margin: 0 auto;
    }
    &__btn-container {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    &__btn {
        display: inline;
        width: 150px;
        padding: 20px 0;
        margin-left: 10px;
    }
}

// そのページだけのCSSを記述

.p-header {
    box-sizing: border-box;
    height: 90px;
    width: 100%;
    background-color: aquamarine;
    &__inner {
        display:flex; //子要素が横並び
        justify-content: space-between; // 水平方向の揃え
        align-items: center; //垂直方向の揃え
        height: 100%;
    }
    &__logo {
        display: block;
    }
    &__menu {
        display: flex;
        align-items: center;
    }
    &__nav {
        display: flex;
    }
    &__ul {
        display: flex;
        align-items: center;
        margin-top: 14px;
        li {
            margin-left: 20px;
            margin-right: 20px;
            color: $blue;
        }
        a {
            margin-top: 10px;
            &:hover {
                text-decoration: none;
                opacity: 0.7;
            }
        }
    }
    &__btn {
        display: block;
    }
}



.p-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $darkgreen;
    width: 100%;
    height: 50px;
    &__ul {
        width: 500px;
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
        align-items: center; //縦中央揃え
        list-style: none;
        text-decoration:none ;
        line-height: 50px;
    }
    a {
        text-decoration: none;
        color: $black;
        &:hover {
            text-decoration: none;
        }
    }

}


////////// アカウント情報画面 //////////

.p-info {
    margin: 0;
}

.p-acinfo {
    text-align: center;
    margin-top: 130px;
    width: 600px;
    &__input {
        margin-bottom: 15px;
    }
    &__container {
        display: flex;
        justify-content: center;
    }
    &__container2 {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    &__id {
        text-indent:-220px;
    }
    &__btn {
        width: 110px;
        padding: 0;
        font-size: 20px;
        margin-top: 20px;
    }
    &__btn-container {
        text-align: center;
    }
    &__left {
        float: left;
    }
}

////////// アカウント情報確認画面 //////////
.p-info {
    margin: 0;
}

.p-acinfoEdit {
    text-align: center;
    margin-top: 130px;     //上の余白
    width: 600px;          //横幅
    height: 230px;         //高さ
    /*text-align: center;
    margin-top: 130px;
    width: 500px;
    height: 220px;*/
    &__input {
        margin-bottom: 15px;
    }
    &__container {
        display: flex;
        justify-content: center;
    }
    &__container2 {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    &__id {
        text-indent:-167px;
    }
    &__btn {
        width: 110px;
        padding: 0;
        font-size: 20px;
        margin-top: 20px;
    }
    &__btn-container {
        text-align: center;
    }

    
}

//////////案件検索画面///////////// 

.p-form {
    margin: 0;
    text-align: center;

    &__container {
        width:1000px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    &__container2 {
        width:965px;
        // margin-left: auto;
        // margin-right: auto;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    &__show {
        display: flex;
        float: left;
        padding-left: 20px;
        text-align: center;
        
    }

    &__key {
        height: 50px;
        width: 270px;
        margin-bottom: 20px;
    }

    &__eria {
        height: 45px;
        width: 270px;
        margin-bottom: 20px;
       
        // float: left;
    }

    &__oc {
        height: 45px;
        width: 270px;
        margin-bottom: 20px;
        // float: left;
        // margin-left: 20px;
    }

    &__level {
        height: 45px;
        width: 270px;
        // float: right;
        // margin-left: 20px;

    }

    &__box {
        display: block;
        text-align: center;
        height: 450px;
    }

    &__btn {
        width: 110px;
        padding: 0;
        font-size: 20px;
        margin-top: 20px;
    }

    &__btn-container {
        // text-align: center;
        // margin-left: 140px;
    }

}

/////////お気に入りリストも兼用中///////////////
.p-show {
    margin-left: auto;
    margin-right: auto;

     &__tokki {
        max-width: 0;              //省略せずに表示するサイズを、任意の数字で指定
        overflow: hidden;           //上述で指定したサイズからはみ出る部分を非表示にするため
        text-overflow: ellipsis;    //はみ出して非表示になった要素がある場合に、三点リーダーを表示するための記述
    }

    //詳細の入力枠（ランク）
    &__search {
        height: 30px;        //高さ
        width: 241px;        //横幅
        margin-bottom: 30px; //下の余白
    }

}

table.p-show th {
    width:300px;				/*見出しセルの幅*/
	padding:10px;				/*パディング*/
	text-align:center;				/*センター揃えにする*/
	white-space:nowrap;				/*セル内の改行を禁止する*/
}

table.p-show td {
    width: 100px;               //省略せずに表示するサイズを、任意の数字で指定
    padding:10px;
    white-space: nowrap;        //改行をしないという意味
    // overflow: hidden;           //上述で指定したサイズからはみ出る部分を非表示にするため
    // text-overflow: ellipsis;    //はみ出して非表示になった要素がある場合に、三点リーダーを表示するための記述
}	






///////////////////////////////////////



.p-loginpage {
    width: 600px;
    margin: 0 auto;
    padding-top: 70px;
    &__container {
        // width: ;
    }
    .input {
        margin-bottom: 20px;
    }
}

.p-register {
        width: 600px;
        margin: 0 auto;
        padding-top: 40px;
    .input {
            margin-bottom: 20px;
        }
    .ragio-group {
        text-align: center;
        font-size: 20px;
        input {
            margin-right: 5px;
        }
    }
    &-btn {
        text-align: right;
    }
}

.verify {
    width: 600px;
    margin: 0 auto;
    padding-top: 50px;
    &__container {
        margin: 0;
    }
}

.p-email {
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
    input{
        margin-bottom: 15px;
    }
    &__container {
        margin: 0;
    }
    &__btn-container {
        text-align: right;
    }
    &__btn {
        padding: 10px 20px;
    }
}

.reset {
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
    input {
        margin-bottom: 15px;
    }
    &__btn-container {
        text-align: right;
    }
    &__btn {
        padding: 10px 20px;
    }
}

.confirm {
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;

    input {
        margin-bottom: 15px;
    }

    &__btn-container {
        text-align: right;
    }

    &__btn {
        padding: 10px 20px;
    }
}

.portfolio {
    width: 800px;
    margin: 0 auto;
    padding-top: 70px;
    &__container {
        display: flex;
        justify-content: space-around;
    }
    &__btn {
        padding: 10px 0;
        width: 200px;
    }
}

.p-wel {

    text-align: center;

    &__midasi {
        color: $green;
        text-align: center;
        font-weight: bold;
        font-size: 70px;      
        margin-top: 150px;
        text-shadow: 4px 8px 12px #808080;
    }

    &__home {
        font-weight: bolder;
    }

    &__btn {
        margin-top: 25px;
    }

    &__pr1 {
        font-size: 30px;
        margin-top: 100px;
        color:$black;
    }

    &__pr2 {
        color:$black;
    }
}


//////////メール送信しました画面//////////

.p-mail {
    color: $green;
    text-align: center;
    font-weight: bold;
    font-size:50px;      
    text-shadow: 4px 8px 12px #808080;
    margin-top: 130px;

    &__messe {
        text-align: center;
        font-size: 20px;

        
        }
}

//////////マイページ（企業）//////////

.p-myp {
    width: 630px;
    margin: 0 auto;
    padding-top: 70px;

    &__container {
        display: flex;
        justify-content: space-around;

    }
    &__btn {
        padding: 10px 0;
        width: 250px;
    }
}

// ポートフォリオ
.p-form {
    margin: 0;
    text-align: center;

    &__portfolio {
        height: 30px;
        width: 250px;
        margin-bottom: 20px;   
    }

    &__PR {
        height: 100px;
        width: 300px;
        margin-bottom: 20px;
    }

    &__pr1 {
        font-size: 30px;
        margin-top: 100px;
        color:$black;
    }

    &__pr2 {
        color:$black;
    }

    //自己PRのテキストボックス
    &__Textarea {
        height: 450px; //高さ
        width: 350px;  //横幅
    }
}

//ポートフォリオ作成画面

.p-port {
    width: 1350px;
    margin: 0 auto;
    &__container {
        display: flex;
        justify-content: space-around;
    }

    &__aaa {
        overflow: hidden;
        margin-right: 20px;
    }
    
    &__prdn1 {
        float: left;
        margin-top: 20px;
        width: 170px;       //プルダウンのサイズ
    }

    &__prdn2 {
        float: left;
        margin-left: 10px;
        margin-top: 20px;
        margin-right: 10px;
        width: 170px;       //プルダウンのサイズ
    }


    &__bbb {
        overflow: hidden;
    }


    &__ccc {
        overflow: hidden;
    }


    &__ddd {
        overflow: hidden;
    }

    &__eee {
        overflow: hidden;
        margin-bottom: 20px;
    }

    &__btn {
        position: absolute;
        left: 185px;
        bottom: 70px;

    }

    &__container {
        text-align: center;
        margin-top: 0px;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }

    &____right {
        // overflow: hidden;
        // display: flex;
        // flex-wrap: wrap;
        // justify-content:space-between;
        // float: left;
    }


    &__left {
        label, input {
            display: block;
        }
        input {
            padding-left: 5px;
        }
        margin-top: 27px;
        // overflow: hidden;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        // justify-content:space-between;
        // float: left;
    }
    &__form {
        position: relative;
    }
    input {
        font-size: 0.8rem;
    }
}

//ポートフォリオ編集画面
.p-portEdit {
    //ポートフォリオがない場合の黒いウィンドウ（編集・削除）
    &__win {
        height: 140px;   //高さ
        width: 300px;   //横幅
        //margin-top: 100px;
    }
}

//ポートフォリオ削除画面
.p-portDel {
    margin: 0;
    text-align: center;
    &__port {
        height: 35px;
        width: 300px;
        margin-bottom: 10px;
    }

}

//掲載中案件（黒い部分のサイズ）
.p-keisaianken {
    text-align: center;
    margin-top: 130px;
    width: 1000px; //横幅
}

//案件掲載（黒い部分のサイズ）
.p-anken {
    text-align: center;
    margin-top: 130px;
    width: 1200px; //横幅
    height: auto;  //高さ
}

//案件掲載
.p-anken2{
    width: 1350px;
    margin: 0 auto;
    &__container {
        display: flex;
        justify-content: space-around;
    }

    //入力枠
    &__Inputs {
        height: 30px;        //高さ
        width: 290px;        //横幅
        margin-bottom: 30px; //下の余白 
    }

    //入力枠
    &__Inputs2 {
        height: 30px;        //高さ
        width: 270px;        //横幅
        margin-bottom: 30px; //下の余白
    }

    //期限
    &__deadline {
        height: 30px;        //高さ
        width: 290px;        //横幅
        margin-bottom: 30px //下の余白
    }
    
    //テキストボックス
    &__textarea {
        height: 380px;  //高さ
        width: 290px;   //横幅
        margin-bottom: 30px //下の余白
    }

    //プルダウン（都道府県）
    &__prdn {
        //float: left;
        margin: auto;       //中央に配置
        margin-top: 10px;   //上の余白
        width: 290px;       //横幅
        margin-bottom: 30px //下の余白
    }

    //プルダウン（職業）
    &__prdn2 {
        margin: auto;       //中央に配置
        //margin-top: 10px; //上の余白
        width: 290px;       //横幅
        margin-bottom: 30px //下の余白
    }

    //プルダウン（ランク）
    &__prdn3 {
        margin: auto;       //中央に配置
        margin-top: 10px;   //上の余白
        width: 130px;       //横幅
        margin-bottom: 30px //下の余白
    }

    //プルダウン（スキル）
    &__prdn4 {
        margin: auto;       //中央に配置
        margin-top: 10px;   //上の余白
        width: 290px;       //横幅
        margin-bottom: 30px //下の余白
    }

    //プルダウン（スキル2）
    &__prdn5 {
        margin: auto;       //中央に配置
        margin-top: 10px; //上の余白
        width: 290px;       //横幅
        margin-bottom: 30px //下の余白

    }

    //文字の配置（左）
    &__Arrangement {
        width: 400px;
        float: left;
    }

    //文字の配置（右）
    &__Arrangement2 {
        float: right;
        width: 400px;
    }

    //文字の配置（中央）
    &__Arrangement3 {
        height: 550px;  //高さ
        width: 400px;   //横幅
        margin-left: auto;
        margin-right: auto;
    }

    //確認ボタン
    &__btn {
        position: absolute;
        left: auto;     // 中央に配置
        bottom: 40px;   //下に配置

    }
}


//掲載中案件
.p-anken3 {
    // margin: 0;
    // text-align: center;
    // height: auto;
    // &__matter {
    //     height: auto;
    //     width: 300px;
    //     margin-bottom: 10px;
    // }

    // &__Edit {
    //     height: 35px;
    //     width: 250px;
    //     margin-bottom: 20px;   
    // }

    //編集ボタン
    &__btn1 {
        position: absolute;
        left: 470px;     // 中央に配置
        bottom: 36px;   //下に配置
    }

    //削除ボタン
    &__btn2 {
        position: absolute;
        left: 610px;     // 中央に配置
        bottom: 20px;   //下に配置
    }

}

//承認待ちリスト

.p-syounin {
    //承認・却下のボタン
    &__btn1 {
        position: absolute;
        left: 110px;
        bottom: 70px;
    }
    &__btn2 {
        position: absolute;
        left: 260px;
        right: 185px;
        bottom: 70px;
    }

    &__btn3 {
        // position: absolute;
        left: 110px;
        bottom: 70px;
    }
    &__btn4 {
        // position: absolute;
        left: 260px;
        //right: 185px;
        bottom: 70px;
    }
}


//////////メール送信しました画面//////////

.p-mail {
    color: $green;
    text-align: center;
    font-weight: bold;
    font-size:50px;      
    text-shadow: 4px 8px 12px #808080;
    margin-top: 130px;

    &__messe {
        text-align: center;
        font-size: 20px;

        
        }
}


//////////お気に入りリスト//////////


.favorite {
    width: 700px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    &__container {
        text-align: center;
        display: flex;
        justify-content: center;
        // max-width: 0;              //省略せずに表示するサイズを、任意の数字で指定
        // overflow: hidden;           //上述で指定したサイズからはみ出る部分を非表示にするため
        // text-overflow: ellipsis;    //はみ出して非表示になった要素がある場合に、三点リーダーを表示するための記述
    }

    &__tokki {
        max-width: 0;              //省略せずに表示するサイズを、任意の数字で指定
        overflow: hidden;           //上述で指定したサイズからはみ出る部分を非表示にするため
        text-overflow: ellipsis;    //はみ出して非表示になった要素がある場合に、三点リーダーを表示するための記述
    }
}



////////スクロール見出し固定//////////

