//案件検索画面//


    .p-form {
    text-align: center; // 中央揃え //
    color:#fff;

        &__midasi {
            color:$orange;
            position: relative; /* 今の位置を基準 */
            top: 50px; /* 上から100px */
        }

        &__key {
            margin: 0 auto;
            position: relative;  /* 今の位置を基準 */
            top: 50px; /* 上から80px */
            align-items: center; //垂直方向の揃え
            display: flex; //要素の横並び//
        }

        &__word {
            width: 300px;
            height: 30px;
        }

        &__btn {
            border-radius : 5%;          /* 角丸       */
            font-size     : 10pt;        /* 文字サイズ */
            text-align    : center;      /* 文字位置   */
            cursor        : pointer;     /* カーソル   */
            padding       : 12px 12px;   /* 余白       */
            background    : $orange;     /* 背景色     */
            color         : #ffffff;     /* 文字色     */
            line-height   : 0em;         /* 1行の高さ  */
            transition    : .3s;         /* なめらか変化 */
            border        : 1px solid #fff;    /* 枠の指定 */
            width: 50px;
            height: 30px;
            margin-left: 40px;
            text-align: center;

            &:hover {
                color: $orange;     /* 背景色     */
                background: #ffffff;     /* 文字色     */
                text-align: center;
            }
        }

        &__eria {
            top: 80px;
            position: relative;  /* 今の位置を基準 */
        }

        &__pr {
            width: 110px;
            height: 25px;
        }
}